extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi non sapien sit amet sem vestibulum finibus non commodo neque. Pellentesque vel massa placerat, tempus felis ac, consectetur nisl. Nullam quis maximus nisi. Maecenas egestas libero sapien. Duis euismod, ipsum at mollis iaculis, mi lacus efficitur velit, sit amet iaculis massa risus facilisis mi. Vestibulum convallis odio est, ut blandit eros tristique ac. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam nec enim volutpat, sagittis ante venenatis, semper diam.

                p In arcu ex, sollicitudin ut magna eu, rhoncus rhoncus arcu. Sed nec lorem id arcu scelerisque tincidunt eu vel mauris. Nunc eget finibus velit, eget feugiat ligula. Cras efficitur neque at aliquet tempus.

                p Sed fringilla dignissim elit, ac varius metus egestas vitae. Maecenas vehicula placerat ante at ultrices. Ut eget accumsan elit.
    
    .lista-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p mi lacus efficitur velit, sit amet iaculis massa risus facilisis mi. Vestibulum convallis odio est, ut blandit eros tristique ac. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam nec enim volutpat, sagittis ante venenatis, semper diam.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p mi lacus efficitur velit, sit amet iaculis massa risus facilisis mi. Vestibulum convallis odio est, ut blandit eros tristique ac. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam nec enim volutpat, sagittis ante venenatis, semper diam.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p mi lacus efficitur velit, sit amet iaculis massa risus facilisis mi. Vestibulum convallis odio est, ut blandit eros tristique ac. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam nec enim volutpat, sagittis ante venenatis, semper diam.